.image {
    margin: 20px auto 30px auto;
    border: 5px solid #fff;
    box-shadow: 0 0 10px #9e9e9e;
    border-radius: 4px;
}

#pr{
    color: white;
    width: 15%;
    font-size: 22px;
    font-weight: bold;
    margin-top: 30px;
}

#a{
    background: url("Images2/2.mp4")no-repeat center center;
    background-size: cover;
}

#f{
    height: 1000px;
    width: 100%;
}

#cl{
     background: linear-gradient(to bottom left, #7CFC00, #008000);
     font-size: 17px;
}

#it{
    width: 80px;
    height: 80px;
}

#cost1{
    color: white;
    margin-left: 100px;
    float: left;
}

#cost{
    color: darkgreen;
}

#c{
    width: 20%;
}

#ph, #btn{
  background: linear-gradient(to bottom left, #7CFC00, #008000); 
}

#btn1{
    background: linear-gradient(to bottom left, #7CFC00, #008000);
    margin-top: 100px;  
    margin-left: 0;
  }

#code{
    color: green;
    border-style: dashed;
}

#prd{
    margin-top: 100px; 
}

#text1, #text2, #text3, #text4{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: green;
}

#choice{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#immain{
    width: 100%;
    height: auto;
}

/* #U{
    font-size: 60%;
} */

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
/* @media screen and (min-width: 769px) {
    #U {
      font-size: 200%;
    }
  } */
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  /* @media screen and (max-width: 768px) {
    #U {
      font-size: 60%;
    }
  } */


/*
<div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text"></span>
        </div>
        <input  type="text" aria-label="First name" class="form-control">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text"></span>
        </div>
        <input  type="text" aria-label="First name" class="form-control">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
        <span class="input-group-text"></span>
        </div>
        <input  type="text" aria-label="First name" class="form-control">
    </div>
*/






